*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Poppins", sans-serif;
}
body a{
    color: rgb(111, 182, 5);
}
img{
    max-width: 100%;
}
/* header */
header{
    background: #313030;
    padding: 15px 0px 15px 250px;
}
h1{
    color: orange;
    font-weight: bold;
    font-size: 50px; 
}
header span{
    color: white;
}
header div p{
    color: white;
    padding-left: 180px;
}
/* header nav */
.nav-links{
    padding-top: 40px;
}
.nav-links ul {
    list-style-type: none;  
    display: flex;        
}
.nav-links li {
    margin-right: 15px;    
}
.nav-links a {
    text-decoration: none;
    color: white;
    background: rgb(32, 124, 32);
    border-radius: 3px;
    padding: 5px;        
}
header nav ul li a:hover{
    background: orange;
}
header nav ul li a:active{
    background: orange;
}
header nav ul li a:focus-visible {
    outline: none;  
}
header nav ul li a:focus:not(:focus-visible) {
    background-color: orange;  
}
/* main */
main{
    margin: 0px 7px 15px 230px;
    padding-right: 150px;
}
main h2{
    color: rgb(41, 230, 41);
    margin-top: 10px;
    font-weight: bolder;
}
main p{
    padding: 15px 0 20px;
}
strong{
    margin-bottom: 20px; 
    display: inline-block;
}
#about {
    padding: 20px;  
}
.content-container {
    display: flex;  
}
.main-content {
    flex: 0 0 75%;  
    padding: 20px; 
}
main p br{
    display: block;  
    content: '';  
    margin-top: 5px;  
    
}
/* aside */
aside {
    flex: 0 0 250px; 
    margin-right: 130px;  
    padding: 5px;  
    margin-left: 30px;
}
.aside-part{
    margin-top: 5px;
}
aside ul li a{
    text-decoration: none;
    color: black;
}
aside ul li{
    list-style-type: none;
    padding: 9px;
    margin-left: -9px;
}
aside ul li span{
    opacity: 0.5;
}
aside h2{
    color: rgb(41, 230, 41); 
    margin-top: 10px;
    font-weight: bolder;
}
.sec-nav li {
    margin-bottom: 15px;  
}
.sec-nav li span {
    display: block;  
    margin-top: 5px;  
}
/* about */
#about{
    margin-top: 5px;
}
/* contact */

/* text-area */
.styled-textarea {
    width: 500px;
    height: 200px;
    padding: 10px;
    border-radius: 5px;  
    background-color: #ffffff;  
    font-size: 16px;
    resize: both; 
    margin: 10px 0px 15px 0px;
}
.submit-btn {
    width: 90px;  
    height: 30px;
    margin-bottom: 25px;
}
.contact-content{
    margin-top: 30px;
}
.contact-main{
    margin-left: 245px;
}
.contact-main h2{
    color:rgb(41, 230, 41);  
    margin-bottom: 15px;
    font-weight: bolder;
}
.contact-aside .aside-part{
    margin-top: 35px;
}
#name{
    margin-top: 10px;
    margin-bottom: 10px;
}
#email{
    margin-top: 10px;
    margin-bottom: 10px;
}
#website{
    margin-top: 10px;
    margin-bottom: 10px;
}
input{
    width: 500px;
}
/* footer */
.footer-container{
    display: flex;                
    justify-content: center;      
    flex-wrap: wrap;  
    background: rgb(5, 44, 8);
    color: white;
}
.footers{
    display: flex;                
    flex-direction: column;       
    align-items: flex-start;          
    margin: 10px;                
    text-align: center;           
    max-width: 230px;
    line-height: 3 px;
    padding: 0px;
    text-align: left;  
}
.footers p br {
    display: block;  
    content: '';  
    margin-top: 9px;  
    padding-top: 5px;
}
.about-pic {
    float: left;  
    margin-right: 7px; 
    margin-bottom: 5px; 
    align-items: left;
    width: 25%;
    height: 25%;
}
.footer-container {
    overflow: auto;  
}
.footers p {
    margin-bottom: 5px;  
}
.footers h3{
    text-align: left;
    align-items: left;
    padding: 10px;
    padding-bottom: 15px;
}
.image-wrapper img{
    width: 25%;
    height: 25%;
    padding: 3px;
}
.footers:nth-of-type(2) {
    margin-bottom: 30px;  
    width: 350px;
}
.about-pic {
    padding: 5px 5px 0px;
}
/* last footer */
.second-part{
    color: white;
    background: rgb(23, 19, 19);
    border-top-color: rgb(15, 10, 10);
    border-top-width: 1px;
    padding: 15px;
    display: block;
    justify-content: flex-end;
}
.second-part p{
    padding-left: 200px;
}
.second-part nav{
    margin-top: 5px;
    text-align: end;
    padding-right: 150px;
}
.second-part ul{
    list-style: none;
}
.second-part li{
    display: inline;  
    margin-right: 15px;  
    list-style: none;
}
.second-part li a{
    color: white;
    text-decoration: none;
}
.second-part li a:hover{
    color: green;
}
